body {
    font-family: sans-serif;
  }
  
  .active-tab {
    color: blue;
  }
  
  .tab-content {
    display: none;
    visibility: hidden;
  }
  
  .tab-content--active {
    display: block;
    visibility: visible;
  }